In [8]:
import pandas as pd
import re

### Obtencion de datos

In [4]:
data = pd.read_csv('./input/training.csv', header = None, names = ['sk_id', 'tweet_id', 'date', 'query', 'user', 'content'])
data.head()

,sk_id,tweet_id,date,query,user,content
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
data.shape

(1600000, 6)

### Top users

In [59]:
pattern = r'(@\w+)'
users = []

for tweet in data['content']:
    match = re.findall(pattern, tweet)
    for user in match:
        users.append(user)

In [74]:
users_series = pd.Series(users)
print(users_series.value_counts()[0:3])
top_users = list(users_series.value_counts()[0:3].index)
top_users

@mileycyrus    4500
@tommcfly      3887
@ddlovato      3467
dtype: int64

['@mileycyrus', '@tommcfly', '@ddlovato']

### Corpus

In [121]:
data['tweet_id'] = data['tweet_id'].fillna(value = 'Undefined')
data['timestamp'] =  pd.to_datetime(data['date'], format = '%a %b %d %H:%M:%S PDT %Y')
data['tweet_length'] = data['content'].str.len()
data.head()

,sk_id,tweet_id,date,query,user,content,timestamp,tweet_length
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",2009-04-06 22:19:45,115
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,2009-04-06 22:19:49,111
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,2009-04-06 22:19:53,89
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,2009-04-06 22:19:57,47
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",2009-04-06 22:19:57,111

In [127]:
top1_corpus = data.loc[data['content'].str.contains(top_users[0]), ['tweet_id', 'timestamp', 'content', 'tweet_length']].copy().reset_index(drop = True)
top1_corpus['user'] = top_users[0]

top2_corpus = data.loc[data['content'].str.contains(top_users[1]), ['tweet_id', 'timestamp', 'content', 'tweet_length']].copy().reset_index(drop = True)
top2_corpus['user'] = top_users[1]

top3_corpus = data.loc[data['content'].str.contains(top_users[2]), ['tweet_id', 'timestamp', 'content', 'tweet_length']].copy().reset_index(drop = True)
top3_corpus['user'] = top_users[2]

In [131]:
top1_corpus.head()

,tweet_id,timestamp,content,tweet_length,user
0,1468063101,2009-04-06 23:30:57,@mileycyrus hahaha dont be like that one time ...,107,@mileycyrus
1,1468286517,2009-04-07 00:45:20,"@mileycyrus i have the same problem, but it's ...",137,@mileycyrus
2,1468297110,2009-04-07 00:49:07,@mileycyrus I guess counting sheep didn't work...,72,@mileycyrus
3,1468298918,2009-04-07 00:49:44,@mileycyrus I would too if it meant spending a...,100,@mileycyrus
4,1468318249,2009-04-07 00:56:41,@mileycyrus AWWW u seriously have the cutest d...,112,@mileycyrus

### NLP

### Bag of Words

### Word Cloud